#boutonGenerer {
    width: 50%;
    max-width: 320px; 
    padding: 15px;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

@media only screen and (max-width: 600px) {
    #boutonGenerer {
        font-size: 10px;
    }
}

video {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    video {
        display: none;
    }

    video[poster] {
        display: block;
        width: 100%;
        height: auto;
    }
}

#boutonGenerer:hover {
    background-color: white;
    color: #000000;
}

#Logo_Bingonzzo {
    width: 100%; 
    max-width: 100%;
    height: auto; 
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    /* Styles spécifiques pour les écrans de moins de 600px de large */
    #boutonGenerer {
        font-size: 12px;
    }

    #Logo_Bingonzzo {
        max-width: 100%;
    }
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

table {
    background-color: rgb(0, 0, 0);
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 8px solid #333333;
    align-items: center;
    width: 125px;
    height: 125px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

td img {
    transition: transform 1.5s ease;

}

.selected img {
transform: rotateY(360deg);
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
    display: block;
    object-fit: fill;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 94, 94, 0.7);
    z-index: 2;
    display: none;
}

.selected {
    position: relative;
}

.selected::before {
    content: url('Bingo_confirme.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.selected.show-logo::before {
    opacity: 1;
}

.selected .overlay {
    display: block;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    transition: transform 1.5s ease;
}

.selected .logo {
    transform: translate(-50%, -50%) rotateY(180deg);
}

#reseaux-sociaux {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.social-icon {
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
    width: 100%; 
    max-width: 100%;
    height: auto; 

}

@media only screen and (max-width: 600px) {
    .social-icon {
        font-size: 20px;
    }
}

#bingo-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 170px;
    font-family: 'October Crow', 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: none;
    z-index: 3;
}

@media only screen and (max-width: 600px) {
    #bingo-message {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#boutonPartager {
    display: block;
    padding: 18px 18px;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}